* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
/* index CSS */

#indexlogo {
    position: absolute;
    width: 318px;
    height: 89px;
    left: 55px;
    top: 158px;
}



#indexsubmit {
    
    width: 160px;
    height: 41px;
    left: 115px;
    top: 450px;

    background: #E2BE01;
    border-radius: 30px;

}

#nameblock {

    position: absolute;
    width: 240px;
    height: 47px;
    left: 75px;
    top: 378px;

    background: #F5F5F5;
    border-radius: 30px;

}

#namelabel {
    /* Name: */


    width: 97px;
    height: 29px;
    left: 75px;
    top: 349px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


}

#inputtext {
    /* Please enter your name.... ? Not sure about this. */

    width: 199px;
    height: 29px;
    left: 95px;
    top: 387px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #D9D9D9;


}

/* Loader Bar CSS*/
#loaderBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myProgress {
    width: 50%;
    background-color: #F5F5F5;
    border-radius: 30px;
  }
  
  #loaderBar {
    width: 1%;
    height: 30px;
    background: linear-gradient(90deg, #4DAFD9 0%, #E2BE01 78.9%, #B10404 100%);
    border-radius: 30px;
  }



/*--- PULL PAGE CSS ---*/

   /*--homebutton --*/ #pullLogo {
      position: absolute;
      left: 12px;
      top: 11px;
      align-items: center;
  }

 /*--homebutton --*/ #homePullId {
    position: absolute;
    left: 376px;
    top: 46px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

 /*--reload button--*/ li#switchId {
  position: absolute;
  left: 455px;
  top: 42px;
  display: flex;
}

   /*--homebutton --*/h3.pll{
    position: absolute;
    width: 182px;
    height: 95px;
    left: 26px;
    top: 165px;
    font-weight: 700;
    font-size: 40px;
    font-family: roboto;
    font-style: bold;
}

  #rx {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 242px;
    top: 271px;
    background: url(rx-logo-png-transparent.png);
  }

  p.bsm {
    position: absolute;
    width: 364px;
    height: 69px;
    left: 26px;
    top: 197px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

#list {
  top: 60px;
  left: 200px;
  padding-left: 50px;
  padding-top: 330px;
  padding-right: 9px;
}

#lats_name,
#hams_name,
#biceps_name,
#abs_name,
#trap_name {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  text-transform:lowercase;
}

#redBar {
  position: absolute;
  width: 1425px;
  height: 28px;
  left: 112px;
  top: 179px;
  background: linear-gradient(89.99deg, #B10404 11.42%, #FFFFFF 95.32%);
  border-radius: 30px;
}

/*--- PUSH PAGE ---*/


