* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
/* index CSS */

#indexlogo {
    position: absolute;
    width: 318px;
    height: 89px;
    left: 55px;
    top: 158px;
}



#indexsubmit {
    
    width: 160px;
    height: 41px;
    background: #E2BE01;
    border-radius: 30px;
    text-align: center;

}

#nameblock {

    position: absolute;
    width: 240px;
    height: 47px;
    left: 75px;
    top: 378px;

    background: #F5F5F5;
    border-radius: 30px;

}

#namelabel {
/* Name: */

position: absolute;
width: 97px;
height: 29px;
left: -8px;
top: -23px;

font-family: 'roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

align-items: center;
text-align: center;
color: #000000;




}

#inputtext {
    position: absolute;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #D9D9D9;
    background-color: transparent;
    padding-left: 45px;
}

button{
    padding-top: 50px;
    padding-left: 40px;
}


/* Loader Bar CSS*/
#loaderBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myProgress {
    width: 50%;
    background-color: #F5F5F5;
    border-radius: 30px;
  }
  
  #loaderBar {
    width: 1%;
    height: 30px;
    background: linear-gradient(90deg, #4DAFD9 0%, #E2BE01 78.9%, #B10404 100%);
    border-radius: 30px;
  }

