* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
/* index CSS */

#indexlogo {
    position: absolute;
    width: 318px;
    height: 89px;
    left: 55px;
    top: 158px;
}



#indexsubmit {
    
    width: 160px;
    height: 41px;
    background: #E2BE01;
    border-radius: 30px;
    text-align: center;

}

#nameblock {

    position: absolute;
    width: 240px;
    height: 47px;
    left: 75px;
    top: 378px;

    background: #F5F5F5;
    border-radius: 30px;

}

#namelabel {
/* Name: */

position: absolute;
width: 97px;
height: 29px;
left: -8px;
top: -23px;

font-family: 'roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

align-items: center;
text-align: center;
color: #000000;




}

#inputtext {
    position: absolute;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #D9D9D9;
    background-color: transparent;
    padding-left: 45px;
}

button{
    padding-top: 50px;
    padding-left: 40px;
}


/* Loader Bar CSS*/
#loaderBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myProgress {
    width: 50%;
    background-color: #F5F5F5;
    border-radius: 30px;
  }
  
  #loaderBar {
    width: 1%;
    height: 30px;
    background: linear-gradient(90deg, #4DAFD9 0%, #E2BE01 78.9%, #B10404 100%);
    border-radius: 30px;
  }


  /* Welcome Page CSS */

  #Hello {
    position: absolute;
    width: 298px;
    height: 29px;
    left: 65px;
    top: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    align-items: center;

    background: linear-gradient(90deg, #4DAFD9 32.11%, #E2BE01 51.86%, #B10404 68.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

 

  #inputName {
    position: absolute;
    width: 104px;
    height: 29px;
    left: 228px;
    top: 143px;}

/*--- PULL PAGE CSS ---*/

   /*--homebutton --*/ 
   #Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
   }

   #pullLogo {
      position: absolute;
      left: 12px;
      top: 35px;
      align-items: center;
      height: auto;
      width: 50vw;
  }

 /*--homebutton --*/ #homePullId {
    position: absolute;
    right: 70px;
    top: 46px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

 /*--reload button--*/ li#switchId {
  position: absolute;
  right: 10px;
  top: 42px;
  display: flex;
}
#sticky{
  position: fixed;
  width: 100vw;
  top: 0%;
  background-color: #ffffff;
  z-index: 20;
}

   /*--homebutton --*/h3.pll, h3.psh{
    position: absolute;
    width: 182px;
    height: 95px;
    left: 26px;
    top: 165px;
    font-weight: 700;
    font-size: 40px;
    font-family: roboto;
    font-style: bold;
    background-color: #FFFFFF;
}

  #rx {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 242px;
    top: 271px;
    background: url(rx-logo-png-transparent.png);
  }
  #white {
    width: 100vw;
    height: 47vh;
    background-color: #FFFFFF;
  }

  p.bsm {
    position: absolute;
    width: 364px;
    height: 69px;
    left: 26px;
    top: 197px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

#list {
  padding-left: 15vw;
  padding-top: 48vh;
  padding-right: 15vw;
  z-index: 0;
  position: relative;
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

#lats_name,
#hams_name,
#biceps_name,
#abs_name,
#trap_name,
#tricep_name, 
#quad_name,
#chest_name,
#serant_name,
#glutes_name {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  text-transform:lowercase;
}

#redBar {
  position: absolute;
  width: 60vw;
  height: 28px;
  right: 0;
  top: 179px;
  background: linear-gradient(89.99deg, #B10404 11.42%, #FFFFFF 95.32%);
  border-radius: 30px;
}

/*--- PUSH PAGE ---*/
#blueBar {
  position: absolute;
  width: 60vw;
  height: 28px;
  right: 0;
  top: 179px;
  background: linear-gradient(89.99deg, #4DAFD9 11.42%, #FFFFFF 95.32%);
  border-radius: 30px;
}

#main {
 width: 100%;
}

  /* Workouts Page */
  #workoutsLogo {
    position: absolute;
    width: 186px;
    height: 51px;
    left: 9px;
    top: 68px;
  }

  #randomquote {
    position: absolute;
    width: 310px;
    height: 58px;
    left: 39px;
    top: 239px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    
    align-items: center;
    text-align: center;

    color: #E2BE01;
  }
    
    #rectangle {
    width:338px;
    height:2px;
    background:linear-gradient(90deg, #4DAFD9 0%, #E2BE01 78.9%, #B10404 100%);;
    position:absolute;
    top:359px;
    left:28px;
}

  #workoutType {

    position: absolute;
    width: 311px;
    height: 53px;
    left: 39px;
    top: 306px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    
    align-items: center;
    text-align: center;

    color: #000000;

  }


  #workoutsection {
    position: absolute;
    width: 311px;
    height: 53px;
    left: 39px;
    top: 306px;
  }

#pullbutton {
    position: absolute;
width: 150.98px;
height: 69px;
left: 204px;
top: 398px;

background: #B10404;
border-radius: 30px;

font-family: 'roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
align-items: center;
text-align: center;

color: #ffffff;
}

#pushbutton {
    position: absolute;
width: 150.98px;
height: 69px;
left: 35.68px;
top: 398px;

background: #4DAFD9;
border-radius: 30px;

font-family: 'roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

align-items: center;
text-align: center;

color: #ffffff;

}